/*Introduction Section */
.introduction {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 120px;
    background: #62c6e8;
    z-index: 1;
}

/*Navigation Section */
.navbar {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    height: 60px;
    background: #eb2727;
    z-index: 2;
}

/*Footer Section*/
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #000000;
    z-index: 3;
}